
<div class="card-body">
  <form novalidate 
        [formGroup]="sliderForm">
    <div>
      <input id="SliderId" 
              type="range" 
              min="0"
              max="100" 
              formControlName="sliderValue" />
    </div>

  </form>
</div>

input {{sliderForm.value.sliderValue}} <br>


