
<div class="card-body">
  <form novalidate 
        [formGroup]="numberBoxForm">
    <div>
      <label for="numberBoxValueId">Number: </label>
      <input id="numberBoxValueId" 
              type="number" 
              placeholder="0-100"
              formControlName="numberBoxValue"
              [ngClass]="{'is-valid':valueMessage }"
              />
      <br>
      <span class='error' *ngIf="numberBoxForm.get('numberBoxValue').dirty && numberBoxForm.get('numberBoxValue').invalid">{{valueMessage}}</span>

    </div>

  </form>
</div>

input {{numberBoxForm.value.numberBoxValue|json}} <br>




